@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MIS FITNESS</h1>
    <p>You can browse our fitness programs and see which class fits you the best. <a href="/Course">Click here.</a>.</p>
</div>
